<div class=" content">




  <!-- filter modem -->
  <h3>Export </h3>
  <div class=" row">
    <div class="col-lg-12 col-md-12">
      <div class=" card">

        <div class=" card-body">
          <form>
            <div class=" row">
              

              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label>starting Date</label>
                  <input class=" form-control" value="Any" placeholder="Color.." type="datetime-local" />
                </div>
              </div>


              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label>Ending Date</label>
                  <input class=" form-control" value="Any" placeholder="Color.." type="datetime-local" />
                </div>
              </div>

             



              <div class=" card-footer">
                <button class=" btn btn-fill btn-success" type="submit">Export</button>
              </div>

            </div>

          </form>
        </div>

      </div>
    </div>





</div>