
<div class=" content">
  
    <!--  -->
    <h3>Live Details</h3>
    <div class=" row">
      <div class=" col-lg-3 col-md-12">
        <div class=" card card-tasks">
          <div class=" card-header">
            <h6 class=" title d-inline">Number Plates</h6>
            <p class=" card-category d-inline">live</p>
           
          </div>
          <div class=" card-body">
           
            <div class=" table-full-width table-responsive scroll-width-none" >
               <ul class=" list-unstyled text-center">
              <li *ngFor="let item of Result; let i = index" (click)="displaydeatils(Numberplate[i])"> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger" >{{Numberplate[i]}}</h1>
              </blockquote></li>
              
              
            </ul>
              </div>
          </div>
        </div>
      </div>

      <!--  -->
      <div class=" col-lg-6 col-md-12">
        <div class=" card card-tasks">
          <div class=" card-header">
            
            <h6 class=" title d-inline">vehicle Details</h6>
            <p class=" card-category d-inline">Time: {{vehicletimedisplay}} &nbsp;&nbsp;Type: {{vehicletype}} &nbsp; &nbsp;color: {{vehicleColor}} </p>
           
          </div>
          <div class=" card-body ">
            <div class=" table-full-width table-responsive scroll-width-none" >
            <div class="text-center">
              <div class=" typography-line">
                <blockquote>
                  <h1 class="plate-current blockquote blockquote-info">{{vehicleNumberplate}}</h1>
                  
                  <div id="wrappergallary">
                    
                    <div id="slider-wrap">
                      <ul id="slider">
                          <li *ngFor="let item of images; let i = index">
                            <img src="{{images[i]}}" alt="" class="">

                          </li>
                         
                          
                  
                          
                          
                      </ul>
                      
                        <!--controls-->
                      <div class="btns" id="next" (click)="changetimeright()"><i class="tim-icons icon-double-right" style="color:white"></i></div>
                      <div class="btns" id="previous" (click)=" changetimeleft()"><i class="tim-icons icon-double-left" style="color:white"></i></div>
                      <div id="counter"  style="margin-right:8px;"></div>
                      
                      <div id="pagination-wrap">
                        <ul>
                        </ul>
                      </div>
                      <!--controls-->  
                              
                  </div>

                  </div>
                </blockquote>
              </div>
            
            </div>
            
            </div>
          </div>
        </div>
      </div>
      
      <!--  -->
      
      <div class=" col-lg-3 col-md-12">
        <div class=" card card-tasks">
          <div class=" card-header">
            <h6 class=" title d-inline">Other Details</h6>
            <p class=" card-category d-inline">{{vehicleNumberplate}}</p>
          </div>
          <div class=" card-body">
            <div class=" table-full-width table-responsive scroll-width-none" >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="row">
                  <div class="col-lg-6">
                    <img src="assets/img/anime3.png" alt="" class="" style="height: 150px;">
                  </div>
                  <div class="col-lg-6">
                    <img src="assets/img/anime6.png" alt="" class="" style="height: 150px;">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <br>
                <img src="assets/img/plate.png" alt="" class="" style="height: 200px;">
                
              </div>
              <div class="col-lg-12 ">
                <br>
                <p>Date:{{vehicledate}}</p>
                
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
      
    </div>



   

    <!-- gsm modem -->
    <h3>GSM Modem</h3>
    <div class=" row">
      <div class="col-lg-12 col-md-12">
        <div class=" card">
       
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-10 pr-md-1">
                  <div class=" form-group">
                    <label> GSM Modem</label>
                    <input
                      class=" form-control"
                     
                      placeholder="starting.."
                      type="text"
                     
                    />
                  </div>
                </div>
  
               
                
                <div class=" card-footer">
                  <button class=" btn btn-fill btn-success" type="submit">Submit</button>
                </div>
  
              </div>
                
            </form>
          </div>
         
        </div>
      </div>
      
    </div>
    <!-- gsm modem over -->
    <!-- summary -->
  <h3>Summary</h3>
  <div class=" row">
    <div class="col-lg-12 col-md-12">
      <div class=" card">
     
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Start Date </label>
                  <input
                    class=" form-control"
                   
                    placeholder="starting.."
                    type="date"
                   
                  />
                </div>
              </div>

              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> End Date </label>
                  <input
                    class=" form-control"
                   
                    type="date"
                   
                  />
                </div>
              </div>
              
              <div class=" card-footer">
                <button class=" btn btn-fill btn-success" type="submit">Submit</button>
              </div>

            </div>
              
          </form>
        </div>
       
      </div>
    </div>
    
  </div>



  
  <!--  -->



  
  <!--  -->
 
  <div class=" row" *ngIf="vissiblegraph">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Vehicles</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{totoalvehicle}}
          </h3>
        </div>
        <div class=" card-body"  style="height: 370px;">
          <div class=" chart-area"><div style="display: block;">
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Sales</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500€
          </h3>
        </div>
        <div class=" card-body" style="height: 370px;">
          <div class=" chart-area">
            <div style="display: block;">
              <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- summary over -->

  
  <!--  -->
  
</div>
