
<div class=" content">
  
    <!--  -->
    <h3>Live Details</h3>
    <div class=" row">
      <div class=" col-lg-3 col-md-12">
        <div class=" card card-tasks">
          <div class=" card-header">
            <h6 class=" title d-inline">Number Plates</h6>
            <p class=" card-category d-inline">live</p>
           
          </div>
          <div class=" card-body">
           
            <div class=" table-full-width table-responsive scroll-width-none" >
               <ul class=" list-unstyled text-center">
              <li> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger">GJ-15-GP2020</h1>
              </blockquote></li>
              <li> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger">GJ-15-GP2020</h1>
              </blockquote></li>
              <li> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger">GJ-15-GP2020</h1>
              </blockquote></li>
              <li> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger">GJ-15-GP2020</h1>
              </blockquote></li>
              <li> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger">GJ-15-GP2020</h1>
              </blockquote></li>
              <li> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger">GJ-15-GP2020</h1>
              </blockquote></li>
              <li> <blockquote>
                <h1 class="plate-list blockquote blockquote-danger">GJ-15-GP2020</h1>
              </blockquote></li>
              
            </ul>
              </div>
          </div>
        </div>
      </div>

      <!--  -->
      <div class=" col-lg-6 col-md-12">
        <div class=" card card-tasks">
          <div class=" card-header">
            
            <h6 class=" title d-inline">vehicle Details</h6>
            <p class=" card-category d-inline">Time: 12:00 AM</p>
           
          </div>
          <div class=" card-body ">
            <div class=" table-full-width table-responsive scroll-width-none" >
            <div class="text-center">
              <div class=" typography-line">
                <blockquote>
                  <h1 class="plate-current blockquote blockquote-info">GJ-15-GP2020</h1>
                  <img src="assets/img/car.jfif" alt="" class="" style="height: auto;width:80%">
                </blockquote>
              </div>
            
            </div>
            <div>
              <div class=" typography-line" style="display: inline-block;">
                <span>Vehicle Type </span>
                <p class=" text-info">
                  Car
                </p>
              </div>
              &nbsp;&nbsp;
              <div class=" typography-line" style="display: inline-block;">
                <span>Vehicle color </span>
                <p class=" text-info">
                  black-red
                </p>
              </div>
              
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--  -->
      
      <div class=" col-lg-3 col-md-12">
        <div class=" card card-tasks">
          <div class=" card-header">
            <h6 class=" title d-inline">Other Details</h6>
            <p class=" card-category d-inline">GJ-15-GP2020</p>
          </div>
          <div class=" card-body">
            <div class=" table-full-width table-responsive scroll-width-none" >
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="row">
                  <div class="col-lg-6">
                    <img src="assets/img/anime3.png" alt="" class="" style="height: 150px;">
                  </div>
                  <div class="col-lg-6">
                    <img src="assets/img/anime6.png" alt="" class="" style="height: 150px;">
                  </div>
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <br>
                <img src="assets/img/plate.png" alt="" class="" style="height: 200px;">
                
              </div>
              <div class="col-lg-12 ">
                <br>
                <p>Date: 12.2.2020</p>
                
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
      
    </div>


    <!-- gsm modem -->
    <h3>GSM Modem</h3>
    <div class=" row">
      <div class="col-lg-12 col-md-12">
        <div class=" card">
       
          <div class=" card-body">
            <form>
              <div class=" row">
                <div class=" col-md-10 pr-md-1">
                  <div class=" form-group">
                    <label> GSM Modem</label>
                    <input
                      class=" form-control"
                     
                      placeholder="starting.."
                      type="text"
                     
                    />
                  </div>
                </div>
  
               
                
                <div class=" card-footer">
                  <button class=" btn btn-fill btn-success" type="submit">Submit</button>
                </div>
  
              </div>
                
            </form>
          </div>
         
        </div>
      </div>
      
    </div>
    <!-- gsm modem over -->
    <!-- summary -->
  <h3>Summary</h3>
  <div class=" row">
    <div class="col-lg-12 col-md-12">
      <div class=" card">
     
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Start Date </label>
                  <input
                    class=" form-control"
                   
                    placeholder="starting.."
                    type="date"
                   
                  />
                </div>
              </div>

              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> End Date </label>
                  <input
                    class=" form-control"
                   
                    type="date"
                   
                  />
                </div>
              </div>
              
              <div class=" card-footer">
                <button class=" btn btn-fill btn-success" type="submit">Submit</button>
              </div>

            </div>
              
          </form>
        </div>
       
      </div>
    </div>
    
  </div>


  <!--  -->
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Total Shipments</h5>
              <h2 class=" card-title">Performance</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Accounts
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Purchases
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
                  <input class=" d-none" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Sessions
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Shipments</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Sales</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500€
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="CountryChart"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Completed Tasks</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> 12,100K
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- summary over -->

  
  <!--  -->
  
</div>
