<div class=" content">




  <!-- filter modem -->
  <h3>Filter by</h3>
  <div class=" row">
    <div class="col-lg-12 col-md-12">
      <div class=" card">

        <div class=" card-body">
          <form [formGroup]="FORMFILTER" (ngSubmit)="onSubmit()">
            <div class=" row">
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label>Vehicle Color</label>
                  <input class=" form-control" placeholder="Color.." formControlName="Color" name="Color"  type="text"
                  [ngClass]="{ 'is-invalid': submitted && f.Color.errors }" />
                  
                </div>
              </div>
 
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label>starting Date</label>
                  <input class=" form-control" value="Any" formControlName="fromdate" name="fromdate"  type="datetime-local" />
                </div>
              </div>


              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label>Ending Date</label>
                  <input class=" form-control" value="Any" formControlName="todate" name="todate" type="datetime-local" />
                </div>
              </div>

              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label>Vehicle Type</label>

                  <select class="form-control" id="exampleSelect1" formControlName="Typeofvehicle" name="Typeofvehicle">
                    <option style="color:black" selected>ALL</option>
                    <option style="color:black">car</option>
                    <option style="color:black">bike</option>
                    <option style="color:black">bus</option>

                  </select>
                </div>
              </div>



              <div class=" card-footer">
                <button class=" btn btn-fill btn-success" type="submit">Filter</button>
              </div>

            </div>

          </form>
        </div>

      </div>
    </div>



    <!-- table -->
    <div class=" col-md-12" *ngIf="visible">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Details</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    <h4>Number Plate</h4>
                  </th>
                  <th>
                    <h4>Vehicle Type</h4>
                  </th>
                  <th>
                    <h4>Vehicle Color</h4>
                  </th>
                  <th>
                    <h4>Location</h4>
                  </th>
                  <th class=" text-center">
                    <h4>Date/Time</h4>
                  </th>
                  <th>
                    <h4>View Details</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Result; let i = index">
                  <td>{{Numberplate[i]}}</td>
                  <td>{{ Vehicle[i]}}</td>
                  <td>{{Color[i]}}</td>
                  <td>{{City[i]}},{{State_Union_Territory[i]}}</td>
                  <td class=" text-center">{{ datetime[i]}}</td>
                  <td><button class="btn btn-info" (click)="changestate(Numberplate[i])" onclick="document.getElementById('id01').style.display='block'">view</button></td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- table over -->
  </div>
  <!-- filter  over -->


  <div id="id01" class="modalview">
   
    
      <div class=" modalview-content animatemodel card ">
        
          
            <div class="card-body">

              <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close modalview" style="color:gray">×</span>
                <br>
                <br>
              <div class="row">
                <!--  -->
                <div class=" col-lg-7 col-md-12">
                  <div class=" card card-tasks">
                    <div class=" card-header">
                      <h6 class=" title d-inline">vehicle Details</h6>
                      <p class=" card-category d-inline"> &nbsp;&nbsp;Type: {{vehicletype[0]}} &nbsp; &nbsp;color: {{vehiclecolordisplay}}&nbsp; &nbsp; Time: {{vehicletimedisplay}} </p>

                     
                    </div>
                    <div class=" card-body ">
                      <div class="text-center">
                        <div class=" typography-line">
                          <blockquote>
                            <h1 class="plate-current blockquote blockquote-info">{{vehicleNumberplatedisplay}}</h1>
                            <div id="wrappergallary">
                      
                              <div id="slider-wrap">
                                <ul id="slider">
                                  <li *ngFor="let item of images; let i = index">
                                    <img src="{{vehicleimagesdisplay}}" alt="" class="">
        
                                  </li>
                                    
                                    
                                </ul>
                                
                                  <!--controls-->
                                <div class="btns"  style="margin-right:-32px" id="next" (click)="changetimeright()"><i class="tim-icons icon-double-right" style="color:white"></i></div>
                                <div class="btns" id="previous" (click)=" changetimeleft()"><i class="tim-icons icon-double-left" style="color:white"></i></div>
                                <div id="counter"></div>
                                
                                <div id="pagination-wrap">
                                  <ul>
                                  </ul>
                                </div>
                                <!--controls-->  
                                        
                            </div>
          
                            </div>
          
                          </blockquote>
                        </div>
                      
                      </div>
                      
                    </div>
                  </div>
                </div>
                
                <!--  -->
                
                <div class=" col-lg-5 col-md-12">
                  <div class=" card card-tasks">
                    <div class=" card-header">
                      <h6 class=" title d-inline">Other Details</h6>
                      <p class=" card-category d-inline">{{vehicleNumberplatedisplay}}</p>
                    </div>
                    <div class=" card-body">
                      <div class=" table-full-width table-responsive scroll-width-none" >
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                          <div class="row">
                            <div class="col-lg-6">
                              <img src="assets/img/p1.jfif" alt="" class="" style="height: 150px;">
                            </div>
                            <div class="col-lg-6">
                              <img src="assets/img/p2.jpg" alt="" class="" style="height: 150px;">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 text-center">
                          <br>
                          <img src="assets/img/plate.png" alt="" class="" style="height: 200px;">
                          
                        </div>
                        <div class="col-lg-12 ">
                          <br>
                          <p>Date: {{vehicledatedisplay}}</p>
                          
                        </div>
                      </div>
          
                      </div>
                    </div>
                  </div>
                </div>
                

              </div>

                <!--  -->
            </div>
        
       
      </div>
   

  </div>


</div>