<div class=" content">




  <!-- filter modem -->
  <h3>Filter by</h3>
  <div class=" row">
    <div class="col-lg-12 col-md-12">
      <div class=" card">

        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label>Vehicle Color</label>
                  <input class=" form-control" placeholder="Color.." type="text" />
                </div>
              </div>

              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label>starting Date</label>
                  <input class=" form-control" value="Any" placeholder="Color.." type="datetime-local" />
                </div>
              </div>


              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label>Ending Date</label>
                  <input class=" form-control" value="Any" placeholder="Color.." type="datetime-local" />
                </div>
              </div>

              <div class=" col-md-2 pr-md-1">
                <div class=" form-group">
                  <label>Vehicle Type</label>

                  <select class="form-control" id="exampleSelect1">
                    <option style="color:black">ALL</option>
                    <option style="color:black">Car</option>
                    <option style="color:black">Bike</option>
                    <option style="color:black">Bus</option>

                  </select>
                </div>
              </div>



              <div class=" card-footer">
                <button class=" btn btn-fill btn-success" type="submit">Filter</button>
              </div>

            </div>

          </form>
        </div>

      </div>
    </div>



    <!-- table -->
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Details</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    <h4>Number Plate</h4>
                  </th>
                  <th>
                    <h4>Vehicle Type</h4>
                  </th>
                  <th>
                    <h4>Vehicle Color</h4>
                  </th>
                  <th class=" text-center">
                    <h4>Date/Time</h4>
                  </th>
                  <th>
                    <h4>View Details</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'">view</button></td>
                </tr>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'">view</button></td>

                </tr>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'">view</button></td>

                </tr>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'">view</button></td>

                </tr>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'">view</button></td>

                </tr>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'">view</button></td>

                </tr>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info" onclick="document.getElementById('id01').style.display='block'">view</button></td>

                </tr>
                <tr>
                  <td>GJ-15-jg2020</td>
                  <td>Car</td>
                  <td>blue-black</td>
                  <td class=" text-center">12/08/2020 12:07:62</td>
                  <td><button class="btn btn-info"
                      onclick="document.getElementById('id01').style.display='block'">view</button></td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- table over -->
  </div>
  <!-- filter  over -->


  <div id="id01" class="modalview">
   
    
      <div class=" modalview-content animatemodel card ">
        
          
            <div class="card-body">

              <span onclick="document.getElementById('id01').style.display='none'" class="close"
                title="Close modalview" style="color:gray">×</span>
                <br>
                <br>
              <div class="row">
                <!--  -->
                <div class=" col-lg-6 col-md-12">
                  <div class=" card card-tasks">
                    <div class=" card-header">
                      <h6 class=" title d-inline">vehicle Details</h6>
                      <p class=" card-category d-inline">Time: 12:00 AM</p>
                     
                    </div>
                    <div class=" card-body ">
                      <div class="text-center">
                        <div class=" typography-line">
                          <blockquote>
                            <h1 class="plate-current blockquote blockquote-info">GJ-15-GP2020</h1>
                            <img src="assets/img/car2.jfif" alt="" class="" style="height: auto;width:80%">
                          </blockquote>
                        </div>
                      
                      </div>
                      <div>
                        <div class=" typography-line" style="display: inline-block;">
                          <span>Vehicle Type </span>
                          <p class=" text-info">
                            Car
                          </p>
                        </div>
                        &nbsp;&nbsp;
                        <div class=" typography-line" style="display: inline-block;">
                          <span>Vehicle color </span>
                          <p class=" text-info">
                            black-red
                          </p>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <!--  -->
                
                <div class=" col-lg-6 col-md-12">
                  <div class=" card card-tasks">
                    <div class=" card-header">
                      <h6 class=" title d-inline">Other Details</h6>
                      <p class=" card-category d-inline">GJ-15-GP2020</p>
                    </div>
                    <div class=" card-body">
                      <div class=" table-full-width table-responsive scroll-width-none" >
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                          <div class="row">
                            <div class="col-lg-6">
                              <img src="assets/img/p1.jfif" alt="" class="" style="height: 150px;">
                            </div>
                            <div class="col-lg-6">
                              <img src="assets/img/p2.jpg" alt="" class="" style="height: 150px;">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 text-center">
                          <br>
                          <img src="assets/img/plate.png" alt="" class="" style="height: 200px;">
                          
                        </div>
                        <div class="col-lg-12 ">
                          <br>
                          <p>Date: 12.2.2020</p>
                          
                        </div>
                      </div>
          
                      </div>
                    </div>
                  </div>
                </div>
                

              </div>

                <!--  -->
            </div>
        
       
      </div>
   

  </div>


</div>